.recipe-content{
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
  @include spanStyle(recipe-content-spin);
  .recipe-content-wrapper{
    height: 100%;
    padding: 20px 10px 0;
  }
  .recipe-content-title{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    span{
      font-size: 24px;
      margin-right: 8px;
    }
  }
}
