.custom-form-item{
  &.label-position__top{
    .custom-form-item__el.custom-form-item__label{
      float: none;
      display: inline-block;
      text-align: left;
    }
    .custom-form-item__el.custom-form-item__content{
      margin-left: 0;
    }
  }
}
@include customFormItem;
