$types: category, tag;
@each $type in $types {
  .#{$type}-detail{
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e8e8e8;
    @include spanStyle(#{$type}-detail--spin);
    .#{$type}-detail--title{
      position: relative;
      font-size: 22px;
      top: -5px;
      span{
        margin-left: 10px;
        color: #bbb;
      }
    }
    .#{$type}-detail__time{
      margin-right: 15px;
      font-size: 14px;
      color: #8590a6;
    }
    .#{$type}-detail--pagination{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 10px 20px;
      text-align: right;
    }
  }
}
