.article-detail{
  position: relative;
  padding: 20px;
  background: #fff;
  min-height: 100%;
  @include spanStyle(article-spin);
  .article-header{
    text-align: center;
    h1{
      font-size: 20px;
      font-weight: 700;
    }
    .article-msg{
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
  img{
    width: 100%;
  }
  pre {
    padding: 10px;
    overflow: auto;
    margin: 20px 0;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
  }
  .comments{
    margin-top: 20px;
    .comment-confirm{
      text-align: right;
      margin-bottom: 10px;
    }
  }
}
