#root{
  height: 100%;
}
.ant-layout, .ant-layout *{
  box-sizing: border-box;
}
.app-container{
  background-color: #fff;
  height: 100%;
  .app-header{
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;
    z-index: 10;
    max-width: 100%;
  }
  .app-sider{
    padding: 0 10px;
  }
  .app-row, .app-col{
    height: 100%;
  }
  .app-content{
    height: 100%;
    background-color: #f3f6f7;
    padding-top: 15px;
    position: relative;
    .app-content-wrapper{
      height: 100%;
    }
  }
}
