#root{
  height: 100%;
}
.ant-layout, .ant-layout *{
  box-sizing: border-box;
}
.app-container{
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  @include spanStyle(global-spin);
  .app-header{
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px #f0f1f2;
    position: relative;
    z-index: 10;
    max-width: 100%;
  }
  .app-sider{
    height: 100%;
    padding: 0 10px 10px;
    overflow: hidden;
    &:hover{
      overflow-y: auto;
    }
  }
  .app-row, .app-col{
    height: 100%;
    &>div{
      height: 100%;
    }
  }
  .app-content{
    height: 100%;
    background-color: #f3f6f7;
    padding-top: 15px;
    position: relative;
    .app-content-wrapper{
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 0 10px;
    }
  }
  .app-footer{
    padding-top: 8px;
    background-color: #f3f6f7;
    text-align: center;
    & > p {
      font-size: 12px;
      padding: 5px 20px;
      background-color: #fff;
      margin: 0;
      line-height: 18px;
      a {
        color: rgba(0,0,0,.65);;
      }
    }
  }
}
