.header-left{
  position: relative;
  font-size: 20px;
  text-align: center;
  .header-title{
    margin-left: 10px;
  }
  .nav-phone-icon{
    display: none;
  }
}
.header-right{
  .header-search{
    border-left: 1px solid #ebedf0;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 16px;
    margin: 22px auto 0;
    .header-search-icon{
      color: #ced4d9;
      position: relative;
      top: .5px;
    }
    .header-search-input{
      font-size: 14px;
      margin-top: -5px;
      width: 200px;
      border: 0;
      box-shadow: none;
      background: transparent;
    }
  }
  .header-menu{
    float: right;
    border: 0;
    font-size: 14px;
    &.ant-menu-horizontal{
      border-bottom: 0;
      .ant-menu-item{
        height: 64px;
        line-height: 60px;
        min-width: 72px;
        border-top: 2px solid transparent;
        text-align: center;
        &:hover{
          border-top: 2px solid #1890ff;
          border-bottom: 2px solid transparent;
        }
      }
      .ant-menu-item-selected {
        border-top: 2px solid #1890ff;
        border-bottom: 2px solid transparent;
        a {
          color: #1890ff;
        }
      }
    }
  }
  .user-info{
    float: right;
    padding: 0 40px 0 16px;
  }
}
.edit-user-type{
  text-align: right;
  .text{
    font-size: 12px;
    color: #ccc;
  }
}
@media screen and (max-width: 1000px) and (min-width: 576px) {
  .header-left {
    .header-title {
      display: none;
    }
  }
}
@media only screen and (max-width: 920px){
  .header-search{
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .header-left .nav-phone-icon {
    display: block;
    position: absolute;
    font-size: 14px;
    right: 30px;
    top: 25px;
    width: 16px;
    height: 22px;
    z-index: 1;
  }
}
.header-dropdown {
  right: 0 !important;
}


