.header-left{
  position: relative;
  font-size: 20px;
  text-align: center;
  .header-music{
    display: none;
  }
  .header-title{
    margin-left: 10px;
  }
  .nav-phone-icon{
    display: none;
  }
}
.header-right{
  .header-search{
    border-left: 1px solid #ebedf0;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 16px;
    margin: 22px auto 0;
    .header-search-icon{
      color: #ced4d9;
      position: relative;
      top: .5px;
    }
    .header-search-input{
      font-size: 14px;
      margin-top: -5px;
      width: 200px;
      border: 0;
      box-shadow: none;
      background: transparent;
    }
  }
  .header-menu{
    float: right;
    border: 0;
    font-size: 14px;
    &.ant-menu-horizontal{
      border-bottom: 0;
      .ant-menu-item{
        height: 64px;
        line-height: 60px;
        min-width: 72px;
        border-top: 2px solid transparent;
        text-align: center;
        &:hover{
          border-top: 2px solid #1890ff;
          border-bottom: 2px solid transparent;
        }
      }
      .ant-menu-item-selected {
        border-top: 2px solid #1890ff;
        border-bottom: 2px solid transparent;
        a {
          color: #1890ff;
        }
      }
    }
  }
  .user-info{
    float: right;
    padding: 0 40px 0 16px;
    .user-notice{
      display: inline-block;
      padding: 0 10px;
      margin-right: 20px;
      cursor: pointer;
      &:hover{
        color: #1890ff;
      }
    }
  }
}
.notice-container{
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  overflow: hidden;
  .ant-tabs-bar{
    margin-bottom: 0;
  }
  .notice-content{
    max-height: 400px;
    min-width: 320px;
    overflow-y: auto;
  }
  .ant-btn-group{
    display: block;
    border-top: 1px solid #e8e8e8;
    .ant-btn{
      width: 100%;
      height: 40px;
      border: 0;
      & + .ant-btn{
        border-left: 1px solid #e8e8e8;
      }
    }
  }
  .ant-list-item{
    padding: 12px 24px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    &:hover{

      background-color: #e6f7ff;
    }
  }
}

.edit-user-type{
  text-align: right;
  .text{
    font-size: 12px;
    color: #ccc;
  }
}
@media screen and (max-width: 1000px) and (min-width: 576px) {
  .header-left {
    .header-title {
      display: none;
    }
  }
}
@media only screen and (max-width: 920px){
  .header-right .header-search{
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .header-left .header-music{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    top: 21px;
    left: 16px;
    cursor: pointer;
    z-index: 1;
  }
  .header-left .nav-phone-icon {
    position: absolute;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    right: 16px;
    top: 19px;
    cursor: pointer;
    z-index: 1;
  }
}
.header-dropdown {
  right: 0 !important;
}

.music-container{
  .ant-drawer-content-wrapper, .ant-drawer-content, .ant-drawer-wrapper-body {
    height: 100%;
  }
  .ant-drawer-content-wrapper{
    overflow: hidden;
  }
  .ant-drawer-body{
    height: 100%;
    background-color: #fff;
    padding: 0;
    .music{
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      .music-title{
        text-align: right;
        span{
          float: left;
        }
      }
      .ant-card-body{
        height: 100%;
        padding: 15px;
      }
    }
  }
  .music-mobile-close{
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    display: inline-block;
    width: 80px;
    background-color: #fff;
    .icon-close{
      font-size: 16px;
    }
  }

}
@media only screen and (max-height: 530px) {
  .music{
    .ant-card-body{
      .music-content{
        width: 85%;
        margin: 0 auto;
      }
    }
  }
  .music-container{
    .music-mobile-close{
      right: 35px;
    }
  }
}



