.admin-header {
  padding: 0 12px;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  &__collapsed {
    cursor: pointer;
  }
  &__right {
    text-align: right;
  }
  &__menu {
    cursor: pointer;
    font-size: 20px;
  }
}
.admin-header__drawer {
  .ant-drawer-body {
    height: 100%;
    padding: 0;
  }
}
