.app-sider-user {
  &__title {
    line-height: 80px;
    font-size: 0;
    color: rgba(72, 81, 91, 1);
    overflow: hidden;
    margin-bottom: 10px;
    #clock {
      float: left;
    }
    span {
      float: left;
      margin-left: 10px;
      font-size: 16px;
    }
  }
  &__warehouse {
    text-align: center;
    a {
      color: rgba(0, 0, 0, 0.65);
    }
  }
  &__desc {
    margin-top: 10px;
    font-size: 12px;
    text-indent: 10px;
    color: rgba(72, 80, 91, 0.68);
  }
}
.app-sider-statistics {
  margin-top: 10px;
  &__list {
    text-align: center;
  }
  &__num {
    font-size: 18px;
    line-height: 24px;
    outline: 0;
    &.link{
      color: #1890ff;
      cursor: pointer;
    }
  }
  &__name{
    color: rgba(71, 80, 91, 0.7);
    font-size: 13px;
    font-weight: 700;
  }
}
.app-sider-tag {
  margin-top: 10px;
  line-height: 30px;
  text-align: center;
  .ant-tag {
    cursor: pointer;
    outline: 0;
  }
}
.app-sider-article {
  margin-top: 10px;
  &__item {
    color: #8590a6;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover{
      color: #2db7f5;
    }
  }
}
