.archives-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    flex: 1;
  }
  &__footer {
    margin: 10px 0;
    text-align: right;
  }
  &__desc {
    font-size: 14px;
    color: #8590a6;
  }
  &__info {
    display: flex;
  }
  &__time {
    position: relative;
    font-size: 14px;
    color: #8590a6;
    margin-right: 15px;
  }
  &__title {
    flex: 1;
    color: #1890ff;
    outline: 0;
    cursor: pointer;
  }
}
