.admin-container {
  height: 100%;
  &-content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 3px;
    &--no-padding {
      padding: 0;
    }
    &--simple {
      padding: 0;
      background-color: transparent;
    }
  }
  .ant-layout-has-sider {
    flex-direction: column;
  }
}
