.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    .ant-list-item-meta {
      margin-bottom: 0;
    }
    .ant-list-item-meta-title {
      color: #394d69;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 0;
      &:hover {
        color: #48b2ff;
      }
    }
    .ant-spin-nested-loading {
      flex: 1;
      padding-right: 5px;
      overflow: hidden;
      overflow-y: auto;
    }
    .ant-list-item {
      border: 1px solid #ebedf0;
      background-color: #fff;
      transition: all .2s linear;
      margin-bottom: 10px;
      &:hover {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
        transform: translate3d(0,-5px,0);
        cursor: pointer;
      }
      .ant-list-item-action > li {
        padding: 0 12px;
      }
    }
    .ant-list-pagination {
      margin: 0;
      padding: 10px 0;
    }
  }
  &__info {
    margin-top: 20px;
    color: rgba(0,0,0,.45);
    line-height: 22px;
    font-size: 14px;
  }
  &__name {
    color: #1890ff;
    margin: 0 5px;
  }
  &__time {
    color: rgba(0,0,0,.25);
    margin-left: 10px;
  }
  &__desc {
    cursor: pointer;
    max-height: 160px;
    overflow: hidden;
  }
}
